<!doctype html>
<html>
<head><title>Bookit! 2 - Home</title></head>
<body>
    <h1>Bookit!</h1>
    <h2>Latest Bookmarks</h2>
    <hr>  

    <ul>
    {% for bookmark in bookmarks %}
        <li>
            <a href="{{ url_for('main.bookmark_page', url_md5=bookmark.url_md5) }}">{{ bookmark.url }}</a>
            <p>
                [&nbsp;
                    {% for tag in bookmark.tags %}
                        <a href="/?tags={{tag}}">{{tag}}</a>
                        &nbsp;
                    {% endfor %}]
            </p>
        </li>
    {% endfor %}
    </ul>
    <hr>  

    <p>
        <a href="{{ url_for('main.homepage') }}">Home</a> |
        <a href="{{ url_for('main.add_bookmark_page') }}">Add another bookmark</a>!
    </p>
</body>
</html>
